body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.tomato{
    color: tomato;
}
.wel-come{
    text-align: center;
}
.coral{
    color: coral;
}
h1{
    font-size: 50px;
    color: rgb(109, 104, 104);
}
p{
    color:gray
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,coral);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;

}
.flex{
    display: flex;
   margin-bottom: 40px;
}
.half-width{
    width: 50%;
    padding: 4%;
}
.half-width img{
    width: 60%;
}

  h3{
      color: gray;
  }  



.background{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
   
  
}
.text-center{
    text-align: center;
}
.recipie-flex{
    display: flex;
    

}
.recipie-item{
    
   margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
 padding: 3%;
    box-shadow: 10px 10px 40px  gray;
    border-radius: 15px;
    
}
.text{
    padding: 5px;
}
.recipie-item img{
    width: 100%;
    
    
}


#youtube{
    text-align: left;
padding-left: 10%;

}
#instragram{
    text-align: center;
    padding-left: 20%;
}
#Likes{
    text-align: right;
    padding-left: 25%;
}
footer{
    text-align: center;
    background-color: black;
    padding: 2%;
}
.order{
    background-color: coral;
    text-align: center;
    color: white;
}
.button{

    text-decoration: none;
    background-image: linear-gradient(rgb(241, 26, 212),rgb(13, 221, 228));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
}